<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= context.title %></title>
  <link rel="stylesheet" href="/leaflet/leaflet.css">
  <link rel="stylesheet" href="/leaflet/plugins/MarkerCluster.css">
  <link rel="stylesheet" href="/leaflet/plugins/MarkerCluster.Default.css">
  <link rel="stylesheet" href="/de/prismplayer/2.7.2/skins/default/aliplayer.css"/>
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript" src="/leaflet/leaflet.js"></script>
  <script type="text/javascript" src="/leaflet/plugins/leaflet.polylineDecorator.js"></script>
  <script type="text/javascript" src="/leaflet/plugins/Leaflet.Editable.js"></script>
  <script type="text/javascript" src="/leaflet/plugins/leaflet.markercluster.js"></script>
  <script type="text/javascript" src="/leaflet/plugins/leaflet-pip.js"></script>
  <script type="text/javascript" src="/leaflet/plugins/leaflet-heat.js"></script>
  <script type="text/javascript" src="/de/prismplayer/2.7.2/aliplayer.js"></script>
  <script type="text/javascript" src="/de/prismplayer/2.7.2/flv/aliplayer-flv.js"></script>
  <script type="text/javascript" src="/de/prismplayer/2.7.2/flv/aliplayer-hls.js"></script>
  <script type="text/javascript" src="/relation/dist.js"></script>
  <script type="text/javascript" src="/relation/dist.js"></script>
  <script type="text/javascript" src="/quill/quill.min.js"></script>
</body>
</html>